@import reset
@import fonts

.wrapper
	max-width: 1200px
	margin: 0 auto

.navigation
	background: #ffffff
	display: flex
	justify-content: space-between	
	height: 90px


.menu
	ul
		display: flex
		li
			color: #0a1c51
			text-transform: uppercase

